<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile App</title>
</head>
<body>
    <h1>Mobile Application</h1>
    <hr>
    <form action="result">
        battery_power:<input type="number" name="battery_power" required> <br>
        blue:<input type="number" name="blue" required> <br>
        clock_speed:<input type="number" name="clock_speed" required> <br>
        dual_sim:<input type="number" name="dual_sim" required> <br>
        fc:<input type="number" name="fc" required ><br>
        four_g:<input type="number" name="four_g" required> <br>
        int_memory:<input type="number" name="int_memory" required> <br>
        m_dep:<input type="number" name="m_dep" required> <br>
        mobile_wt:<input type="number" name="mobile_wt" required> <br>
        n_cores:<input type="number" name="n_cores" required> <br>
        pc:<input type="number" name="pc" required> <br>
        px_height:<input type="number" name="px_height" required> <br>
        px_width:<input type="number" name="px_width" required> <br>
        ram:<input type="number" name="ram" required> <br>
        sc_h:<input type="number" name="sc_h" required ><br>
        sc_w:<input type="number" name="sc_w" required ><br>
        talk_time:<input type="number" name="talk_time" required ><br>
        three_g:<input type="number" name="three_g" required ><br>
        touch_screen:<input type="number" name="touch_screen" required> <br>
        wifi:<input type="number" name="wifi" required> <br>
        <input type="submit">
    </form>
</body>
</html>
